<div class="container">
  <div class="jumbotron">
    <div class="text-center mt-4">
      <h1 class="display-2">Hello, User!</h1>
        <h2 class="display-8">This is a simple math calculator</h2>
      <hr class="my-4">
        <h3>ADDITION SUBTRACTION MULTIPLICATION DIVISION AND MODULUS CALCULATIONS CAN BE PERFORMED HERE</h3>
        <p class="lead">
        <div class="text-center mt-5">
       
        <%= link_to "CLICK FOR MATH OPERATION", about_path, class: "btn btn-success" %></p>
        </div>
    </div>
  </div>
</div>

<footer id="sticky-footer" class="py-2 bg-dark text-white">
    <div class="container text-center">
    <div class="text-center mb-2">
      <small>Copyright &copy; Kumaresh ME</small>
    </div>
    </div>
</footer>
